@model  IList<Sqr.Admin.Web.Models.News.VM_News>

<div>
    <div>新闻</div>
    <table>
        @foreach (var news in Model)
        {
        <tr>
            <td>@news.PublishDate.ToString("yyyy-MM-dd")</td>
            <td>@news.Title</td>
            <td>@news.Level</td>
        </tr>
        }
    </table>
</div>
