<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://itinside-176:1020/Account/AccountService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
                contract="AccountWcf.IAccountService" name="BasicHttpBinding_IAccountService" />
        </client>
    </system.serviceModel>
</configuration>