<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISsoService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://itinside-176:1020/SSO/SsoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISsoService" contract="SsoWcfService.ISsoService" name="BasicHttpBinding_ISsoService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
