@model Sqr.Admin.Web.Models.ActionManager.VM_ActionInfo_Add

@{
    ViewData["Title"] = "Add";
}


<div class="row">
    <div class="col-md-4">
        <form class="layui-form" asp-action="Edit">
            <div class="layui-form-item">
                <label class="layui-form-label">系統</label>
                <div class="layui-input-block">
                    <select name="SystemId" id="SystemId" asp-items="@Model.Sites"></select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">父菜单</label>
                <div class="layui-input-block">
                    <input type="text" name="ParentId" id="ParentId" lay-filter="tree" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-block">
                    <input type="text" name="Name" lay-verify="required" lay-reqtext="菜单名称是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">控制器名</label>
                <div class="layui-input-block">
                    <input type="text" name="Controller" lay-verify="required" lay-reqtext="控制器名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">方法名</label>
                <div class="layui-input-block">
                    <input type="text" name="Action" lay-verify="required" lay-reqtext="方法名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">参数</label>
                <div class="layui-input-block">
                    <input type="text" name="Parameters" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    @*<input type="text" name="Category" value="@Model?.Category"  lay-verify="required" lay-reqtext="类型是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">*@
                    <select name="Category" id="Category">
                        <option value="1">菜单</option>
                        <option value="2">功能</option>
                        <option value="3">菜单和功能</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item " style="text-align:center">
                <button class="layui-btn" lay-submit="" lay-filter="tj" onclick="doSubmit()">提交</button>
            </div>
        </form>
    </div>
</div>

<script>
    layui.config({
        base: '/lib/layui/lay/modules/'
    }).extend({
        treeSelect: 'treeSelect'
    }).use(['treeSelect', 'form', 'layer', 'laydate'], function () {
        var treeSelect = layui.treeSelect;
        treeSelect.render({
            // 选择器
            elem: '#ParentId',
            // 数据
            data: 'MenuTree',
            // 请求头
            headers: {},
            // 异步加载方式：get/post，默认get
            type: 'get',
            // 占位符
            placeholder: '修改默认提示信息',
            // 是否开启搜索功能：true/false，默认false
            search: true,
            // 一些可定制的样式
            style: {
                folder: {
                    enable: true
                },
                line: {
                    enable: true
                }
            },
            // 点击回调
            click: function (d) {
                $("#ParentId").val(d.current.id);
            },
            // 加载完成后的回调函数
            success: function (d) {
                console.log(d);
                //选中节点，根据id筛选
                treeSelect.checkNode('tree', $("#ParentId").val());
                //获取zTree对象，可以调用zTree方法
                var treeObj = treeSelect.zTree('tree');
                console.log(treeObj);
                //刷新树结构
                treeSelect.refresh('tree');
            }
        });

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        form.on('submit(tj)', function (data) {
            $.ajax({
                url: 'Add',
                method: 'post',
                data: data.field,
                dataType: 'JSON',
                success: function (res) {
                    if (res.code = '0') {
                        parent.closeAdd(res.msg);
                    }
                    else
                        alert(res.msg);
                },
                error: function (err) {
                    alert(err);
                }
            });
            return false;
        });


    });
</script>

