
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0086)http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>广州普金科技股份有限公司</title>
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" media="all">
    <script src="./广州普金科技股份有限公司_files/jquery-1.8.2.js.下载" type="text/javascript"></script>
    <script src="./广州普金科技股份有限公司_files/changejs.js.下载" type="text/javascript"></script>
</head>

<body>
    

    <!--大图切换开始-->
    <div class="wy-mod-banner" style="overflow:hidden;">
        <div id="_banners" class="banners">
            <div class="banner banner1" style="z-index: 0; opacity: 1;">
                <img width="1600" height="453" src="./广州普金科技股份有限公司_files/banner1.jpg" alt="微云，生活精彩">
                <!--大图切换开始--
                <div class="info">
                    <h3>惠普客户  金质服务</h3>
                    <a href="#" class="link-download"><span>马上了解 </span><i class="bor_c"></i></a>
                </div>
                <!-->
            </div>
            <div class="banner banner2" style="z-index: 1; opacity: 1;">
                <img width="1600" height="453" src="./广州普金科技股份有限公司_files/banner3.jpg" alt="微云，生活精彩">
                <!--大图切换开始--
                <div class="info">
                    <h3>为客户提供最好最全的金财税服务</h3>
                    <a href="#" class="link-download"><span>马上了解 </span><i class="bor_c"></i></a>
                </div>
                <!-->
            </div>
            <div class="banner banner2" style="z-index: 0; opacity: 1;">
                <img width="1600" height="453" src="./广州普金科技股份有限公司_files/banner5.jpg" alt="微云，生活精彩">
                <!--大图切换开始--
                <div class="info">
                    <h3>客户为上  伙伴为先  奋斗为本</h3>
                    <a href="#" class="link-download"><span>马上了解 </span><i class="bor_c"></i></a>
                </div>
                <!-->
            </div>
        </div>

        <div id="_focus" class="focus">
            <a data-index="0" href="javascript:void(0);" class=""><span class="bg-b"></span><span class="inner"></span></a>
            <a data-index="1" href="javascript:void(0);" class="on"><span class="bg-b"></span><span class="inner"></span></a>
            <a data-index="2" href="javascript:void(0);" class=""><span class="bg-b"></span><span class="inner"></span></a>
        </div>
    </div>
    <!--新闻 市场活动开始-->

    <div class="box1 w1000">
        <div class="pjmain_m_t">
            <ul>
                <li class="pjmain_m_tclick">公司要闻<span>·</span></li>
                <li class="pjmain_m_tm">市场活动<span>·</span></li>
                <li>董事长专栏</li>
            </ul>
        </div>
        <div class="pjmain_m_c">
            <dl class="disblock">
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_1.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <div class="box1_in">2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</div>
                        <div class="cl"><span class="fl blue">2015-03-31</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_2.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <div class="box1_in">2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</div>
                        <div class="cl"><span class="fl grey">2015-03-31</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_3.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <div class="box1_in">2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</div>
                        <div class="cl"><span class="fl blue">2015-03-31</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_4.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <div class="box1_in">2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</div>
                        <div class="cl"><span class="fl blue">【公司要闻】</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
            </dl>
            <dl class="disnone">
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_3.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <div class="box1_in">2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</div>
                        <div class="cl"><span class="fl blue">【市场活动】</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_4.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <div class="box1_in">2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</div>
                        <div class="cl"><span class="fl blue">【市场活动】</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_1.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <div class="box1_in">2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</div>
                        <div class="cl"><span class="fl blue">【市场活动】</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_2.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <div class="box1_in">2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</div>
                        <div class="cl"><span class="fl blue">【市场活动】</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
            </dl>
            <dl class="disnone">
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_4.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <p>2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</p>
                        <div class="cl"><span class="fl blue">【董事长专栏】</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_2.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <p>2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</p>
                        <div class="cl"><span class="fl blue">【董事长专栏】</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_1.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <p>2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</p>
                        <div class="cl"><span class="fl blue">【董事长专栏】</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
                <dd>
                    <div class="box1_pic fl"><img src="./广州普金科技股份有限公司_files/tu_3.jpg" width="158" height="120"></div>
                    <div class="box1_wenben fr">
                        <h3>普金科技参加广东省电子商务协会会员...</h3>
                        <p>2015年2月3日，广东省电子商务协会会员大会暨2014年年会在广州召开。广州普金计算机科... [2015-2-10]</p>
                        <div class="cl"><span class="fl blue">【董事长专栏】</span><span class="fr more"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">更多</a></span></div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <!--公司介绍 业务介绍开始-->
    <div class="box2">
        <div class="w1000">
            <div class="box2_l fl">
                <h3>公司简介</h3>
                <div class="box2_wrap">
                    <p><img src="./广州普金科技股份有限公司_files/tu_5.jpg" width="444" height="111"></p>
                    <p class="box2_wenben">广州普金计算机科技股份有限公司[股票代码：430486]（以下简称“公司”）前身为广州市普金计算机科技有限公司，于2000年11月注册成立；2011年1月，公司完成股份制改革，并正式更名为广州普金计算机科技股份有限公司；2011年底增资后注册资本达到3036万元。2014年1月，经全国中小企业股份转让系统有限公司审查同意和中国证监会核准，公司成为广州市首批在“新三板”挂牌的企业。</p>
                    <p class="line"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">查看详情&gt;&gt;</a></p>
                </div>
            </div>
            <div class="box2_r fr">
                <h3>主营业务</h3>
                <div class="box2_wrap">
                    <p><img src="./广州普金科技股份有限公司_files/tu_6.jpg" width="444" height="111"></p>
                    <p class="box2_wenben">
                        公司是国内专业的财税信息化综合服务提供商，主要客户包括税务机关及纳税企业。公司为税务机关提供稽查类、征管类和纳 税服务类产品及服务，为
                        纳税企业提供财税业务应用类、网络教育类、协同业务类产品及服务。
                    </p>
                    <p class="line"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">查看详情&gt;&gt;</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--公司子站点友情链接开始-->
    <div class="link">
        <div class="w1000">
            <ul>
                <li class="title">普金科技子站点链接</li>
                <li><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#"><img src="./广州普金科技股份有限公司_files/link_1.jpg" width="149" height="61">普金网</a></li>
                <li><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#"><img src="./广州普金科技股份有限公司_files/link_2.jpg" width="149" height="61">纳税人权益网</a></li>
                <li><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#"><img src="./广州普金科技股份有限公司_files/link_3.jpg" width="149" height="61">会计人员继续教育</a></li>
                <li><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#"><img src="./广州普金科技股份有限公司_files/link_4.jpg" width="149" height="61">纳税人网络学堂</a></li>
                <li><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#"><img src="./广州普金科技股份有限公司_files/link_5.jpg" width="149" height="61">广州出口基地外贸平台</a></li>
            </ul>
        </div>
    </div>

    <div id="float_tool" class="float-tool" style="display: none;"><ul id="l_wrap" class="l-wrap f14 bold"></ul></div>
</body>
</html>