<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>

    <environment include="Development">
        <!-- Bootstrap Styles-->
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
        <!-- FontAwesome Styles-->
        @*<link href="assets/css/font-awesome.css" rel="stylesheet" />*@
        <!-- Morris Chart Styles-->
        @*<link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />*@
        <!-- Custom Styles-->
        <!-- Google Fonts-->
        @*<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css">*@
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="hg-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all">
        <link rel="stylesheet" href="~/lib/admin/admin.css" media="all">
        <link rel="stylesheet" href="~/lib/Scrollbar/jquery.scrollbar.css">
        <script type="text/javascript" src="~/lib/admin/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="~/lib/Scrollbar/jquery.scrollBar.js"></script>
        <script type="text/javascript" src="~/lib/layui/layui.js"></script>
        <script type="text/javascript" src="~/lib/admin/admin.js"></script>
        <!-- 请求进度条插件 -->
        <script src='~/lib/nprogress/nprogress.js'></script>
        <link rel='stylesheet' href='~/lib/nprogress/nprogress.css' />
    </environment>
    @*<environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>*@
    @RenderSection("Css",false)
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <div style="padding:20px;">
        @RenderBody()
    </div>
    @*<environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
