    <!--导航菜单开始-->
<div class="menu">
    <div class="pjnav w1000">
        <div class="pjnav_l">
            <ul>
                <li class="pjnav_click"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html">首&nbsp;页</a></li>
                <li class="pjnav_down">
                    <a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/news_list.html">关于普金</a>
                    <div class="disnone">
                        <dl>
                            <dt></dt>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/news_list.html">公司简介</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/news_list.html">主营业务</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/news_list.html">文化体系</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/news_list.html">发展历程</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/news_list.html">合作伙伴</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/news_list.html">公司荣誉</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/news_list.html">联系我们</a></dd>
                        </dl>
                    </div>
                </li>
                <li class="pjnav_down">
                    <a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">新闻中心</a>
                    <div class="disnone">
                        <dl>
                            <dt></dt>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/news_list.html">公司要闻</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/news_list.html">市场活动</a></dd>
                        </dl>
                    </div>
                </li>
                <li class="pjnav_down">
                    <a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">产品服务</a>
                    <div class="disnone" style="display: none;">
                        <dl>
                            <dt></dt>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">税务稽查类</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">税收征管类</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">纳税服务类</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">财税业务应用类</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">网络教育类</a></dd>
                        </dl>
                    </div>
                </li>
                <li class="pjnav_down"><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">运营体系</a></li>
                <li class="pjnav_down">
                    <a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">投资者关系</a>
                    <div class="disnone" style="display: none;">
                        <dl>
                            <dt></dt>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">信息披露</a></dd>
                        </dl>
                    </div>
                </li>
                <li class="pjnav_down">
                    <a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">董事长专栏</a>
                    <div class="disnone" style="display: none;">
                        <dl>
                            <dt></dt>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">董事长语录</a></dd>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">董事长简介</a></dd>
                        </dl>
                    </div>
                </li>
                <li class="pjnav_down">
                    <a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">人才专区</a>
                    <div class="disnone" style="display: none;">
                        <dl>
                            <dt></dt>
                            <dd><a href="http://www.17sucai.com/preview/33522/2018-01-23/html_%E6%96%B0%E7%89%88.rar/index.html#">人才招聘</a></dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
