@section Css{
    <link href="~/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css"/>
    <link rel="stylesheet" href="~/lib/layer/theme/default/layer.css" />
}
@section Scripts{
    <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/bootstrap-table-treegrid.js"></script>
    <script src="https://cdn.bootcss.com/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    <script src="~/js/menu/index.js"></script>
}
<div id="toolbar">
    <div class="btn-group">
        <button class="btn btn-default" onclick="openEditWindow();">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <button class="btn btn-default">
            <i class="glyphicon glyphicon-heart" id="heartBtn"></i>
        </button>
        <button class="btn btn-default">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </div>
</div>
<table id="table" data-classes="table table-hover"
       data-show-refresh="true"
       data-show-columns="true"
       data-toolbar="#toolbar"></table>
