.show-grid [class^=col-]:nth-child(1) {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #ddd;
    background-color: #eee !important;
    height: 2.5em;
    line-height: 2.5em;
}

.show-grid [class^=col-]:nth-child(2) {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #ddd;
    background-color: white !important;
    height: 2.5em;
    line-height: 2.5em;
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.layui-form-label.layui-required:after {
    content: "*";
    color: red;
    position: absolute;
    top: 40%;
    left: 15px;
}

